<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css"></head>

</head>

<body>

<div class="container">
    <div class="col-md-6 col-md-offset-1 ">
        <form id="form-signin">
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="inputEmail" >Email address</label>
            <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>

            <label for="inputPassword" >Password</label>
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
                <a href="/signUp" style="float: right">注册</a>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>

    </div>


</div> <!-- /container -->
<script src="/node_modules/jquery/dist/jquery.js"></script>
<script>
    $('#form-signin').on('submit', function (e) {
        e.preventDefault()
        var formData = $(this).serialize()
        $.ajax({
            url: '/login',
            type: 'post',
            data: formData,
            dataType: 'json',
            success: function (data) {
                console.log(data)
                if(data.err_code === 0){
                    window.location.href = '/'
                }else if(data.err_code === 1){
                    window.alert(data.msg)
                }else if(data.err_code === 2){
                    window.alert(data.msg)
                }
            }
        })
    })
</script>
</body>
</html>
